<a href="https://colab.research.google.com/github/arshiyaakishore/DataScience-Elective/blob/main/AI-Applications_UCS672/AI_Applications_UCS672_LAB2_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NUMPY

In [1]:
import numpy as np

1.Create an array of 10 fives

In [3]:
array1 = np.full(10, 5)
array1

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

2. Create an array of the integers from 10 to 50

In [5]:
array2 = np.arange(10, 51)
array2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

3. Create an array of all the even integers from 10 to 50

In [8]:
array3=np.arange(10,50,2)
array3

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48])

4.  Create a 3x3 matrix with values ranging from 0 to 8

In [12]:
matrix4 = np.arange(9).reshape(3, 3)
matrix4

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

5. Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [13]:
random_array5 = np.random.randn(25)
random_array5

array([-1.52204546, -1.09530329,  2.10702677,  0.75573419, -0.0570204 ,
        0.99083364, -0.77234633, -0.64146076, -1.23937835, -1.62228315,
        1.69342142, -0.52451358,  0.8592788 , -1.3441846 , -1.79753517,
       -0.85485997,  0.50237789,  0.23093294,  0.74159366,  1.63272722,
       -1.62991878, -0.1068387 , -0.83956741,  0.08008982,  0.32819346])

6. Create the following array: array([0. , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1. ])

In [17]:
array6=np.arange(0,1.01,0.01)
array6

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99, 1.  ])

7. Create an array of 20 linearly spaced points between 0 and 1

In [18]:
linear_space7 = np.linspace(0, 1, 20)
linear_space7

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

8. Generate the following matrix, mat, array([[ 1, 2, 3, 4, 5], [ 6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]) and extract the following using the indexing and slicing: array([[12, 13, 14, 15], [17, 18, 19, 20], [22, 23, 24, 25]]) array([[ 2], [ 7], [12]]) Get the sum of all the values in mat Get the sum of all the rows and columns in mat

In [40]:
mat8 = np.arange(1, 26).reshape(5, 5)

extract1 = mat8[2:5, 1:5]
extract1
extract2 = mat8[0:3, 1:2]
extract2

sum_mat8 = np.sum(mat8)
sum_rows_mat8 = np.sum(mat8, axis=1)
sum_cols_mat8 = np.sum(mat8, axis=0)

In [34]:
mat8 = np.arange(1, 26).reshape(5, 5)
mat8

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])