<a href="https://colab.research.google.com/github/arshiyaakishore/DataScience-Elective/blob/main/AI-Applications_UCS672/AI_Applications_UCS672_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 Split this string
s = "Hi there Class!"
into a list.

In [ ]:
s = "Hi there Class!"
word_list = s.split()
print(word_list)

['Hi', 'there', 'Class!']

Q2 Given the variables
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
str = "The diameter of {} is {} kilometers.".format(planet, diameter)
str

'The diameter of Earth is 12742 kilometers.'

Q3 Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]
lst
word_hello = lst[3][1][2][0]
print(word_hello)

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

Q4 Given this nested dictionary grab the word "hello".
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1': [1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}
word=d['k1'][3]['tricky'][3]['target'][3]
word

'hello'

Q5 Create a function that grabs the email website domain from a string in the form:
user@domain.com

In [ ]:
def get_domain(email):
    return email.split('@')[1].split('.')[0]

email1="ak@gmail.com"
domain=get_domain(email1)
domain

'gmail'

Q6 Create a basic function that returns True if the word 'dog' is contained in the input string.

In [ ]:
def contains_dog(str):
    return 'dog' in str.lower()

str = "I have a Dog"
result = contains_dog(str)
result

True

Q7 Create a function that counts the number of times the word "dog" occurs in a string.

In [ ]:
def count_dog(input_string):
    words = input_string.split()
    count = words.count('dog')
    return count

input_string = "One dog bit another dog"
result = count_dog(input_string)
result

2

Q8 Use lambda expressions and the filter() function to filter out words from a list that don't start with the
letter 's'.
For example: seq = ['soup','dog','salad','cat','great']

In [ ]:
seq = ['soup','dog','salad','cat','great']

filtered = list(filter(lambda x: x.startswith('s'), seq))
filtered

['soup', 'salad']

Q9. You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 pos
sible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is
"No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or mor
e, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters
of the function) -- on your birthday, your speed can be 5 higher in all cases.
caught_speeding(81,True)
caught_speeding(81,False)

In [ ]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5

    if speed <= 60:
        return "No Challan"
    elif 61 <= speed <= 80:
        return "Small Challan"
    else:
        return "Heavy Challan"

result1 = caught_speeding(81, True)
result2 = caught_speeding(81, False)

print(result1)  # Output: "Small Challan"
print(result2)  # Output: "Heavy Challan"

Small Challan
Heavy Challan

Q10 Concatenate two lists index-wise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [ ]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
concatenated_list = [i + j for i, j in zip(list1, list2)]
concatenated_list

['My', 'name', 'is', 'Shelly']

Q11 Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

result = [x + y for x in list1 for y in list2]
result

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Q12 Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
nested_list=list1[2][2]

index_6000 = nested_list.index(6000)
nested_list.insert(index_6000 + 1, 7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q13 Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
list1

[5, 15, 25, 50]

Q14 Check if a value 200 exists in a dictionary
d1 = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
  print("exists")
else:
  print("does not exist")

exists

Q15 Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [ ]:
def series(n):
    result = 0
    f_term = 2

    for i in range(1, n + 1):
        result += f_term
        f_term = f_term * 10 + 2

    return result

n = 5
result = series(n)
print(f"Sum of the series up to {n} terms: {result}")

Sum of the series up to 5 terms: 24690