<a href="https://colab.research.google.com/github/arshiyaakishore/DataScience-Elective/blob/main/AI-Applications_UCS672/AI_Applications_UCS672_LAB2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS
Using the SF Salaries Dataset from Kaggle.

Perform the following tasks:
1. Read Salaries.csv as a dataframe called sal.
2. Check the head of the DataFrame.
3. Use the .info() method to find out how many entries there are.
4. What is the average BasePay ?
5. What is the highest amount of OvertimePay in the dataset?
6. What is the job title of JOSEPH DRISCOLL? Note: Use all caps, there is also a lowercase Joseph
Driscoll.
7. How much does JOSEPH DRISCOLL make (including benefits)?
8. What is the name of highest paid person (including benefits)?
9. What is the name of lowest paid person (including benefits)?
10. What was the average (mean) BasePay of all employees per year? (2011-2014)?
11. How many unique job titles are there?
12. What are the top 5 most common jobs?
13. How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one
occurence in 2013?)
14. How many people have the word Chief in their job title?
15. Is there a correlation between length of the Job Title string and Salary?

In [2]:
import pandas as pd

In [5]:
#1
data=pd.read_csv('Salaries.csv')

In [6]:
#2
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [7]:
#3
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69130 entries, 0 to 69129
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                69130 non-null  int64
 1   EmployeeName      69130 non-null  object
 2   JobTitle          69129 non-null  object
 3   BasePay           69129 non-null  float64
 4   OvertimePay       69129 non-null  float64
 5   OtherPay          69129 non-null  float64
 6   Benefits          32970 non-null  float64
 7   TotalPay          69129 non-null  float64
 8   TotalPayBenefits  69129 non-null  float64
 9   Year              69129 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            69129 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 6.9+ MB

In [41]:
#4
avg_base_pay=data['BasePay'].mean()
avg_base_pay

67898.08945999508

In [42]:
#5
data['OvertimePay'].max()

245131.88

In [18]:
#6
joseph_driscoll_title = data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
joseph_driscoll_title

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [20]:
#7
sal_joseph= data[data['EmployeeName']== 'JOSEPH DRISCOLL']['TotalPayBenefits']
sal_joseph

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [22]:
#8
highest_paid_person = data.loc[data['TotalPayBenefits'].idxmax()]['EmployeeName']
highest_paid_person

'NATHANIEL FORD'

In [25]:
#9
lowest_paid= data.loc[data['TotalPayBenefits'].idxmin()]['EmployeeName']
lowest_paid

'PAULETTE ADAMS'

In [27]:
#10
mean_ofyr=data.groupby('Year')['BasePay'].mean()
mean_ofyr

Year
2011.0    63595.956517
2012.0    72616.343178
Name: BasePay, dtype: float64

In [30]:
#11
unique_job =data['JobTitle'].nunique()
unique_job

2080

In [32]:
#12
top_5_jobs = data['JobTitle'].value_counts().head(5)
top_5_jobs

TRANSIT OPERATOR    2388
Transit Operator    2142
SPECIAL NURSE       1402
Registered Nurse    1256
REGISTERED NURSE    1219
Name: JobTitle, dtype: int64

In [34]:
#13
unique_job_titles_2013 = data[data['Year'] == 2013]['JobTitle'].value_counts()
num_single_person_titles_2013 = sum(unique_job_titles_2013 == 1)
num_single_person_titles_2013

0

In [40]:
#14

AttributeError: 'float' object has no attribute 'lower'

In [39]:
#15
correlation = data[['JobTitle', 'TotalPayBenefits']].apply(lambda x: len(str(x['JobTitle'])), axis=1).corr(data['TotalPayBenefits'])
correlation

-0.025650191264586897